<p style="font-family: 'Didot', font-size: 16px">You have a new request from <%= @request_form.name %>. They have asked for a party of <%= @request_form.no_of_guests %>
and desire to have a menu of <%= @request_form.no_of_drinks %> drinks. The event would take place in
<%= @request_form.city_state %> on <%= @request_form.event_date %>. This potential client can be reached either at
"<%= @request_form.email %>" or if you're feeling rather personable, <%= @request_form.phone_number %>
</p>

<p>Stay thirsty my friends!</p>
