<%= simple_form_for(request, html: { class: 'form-horizontal' }) do |f|  %>
  <div class="row">
    <div class="col-md-4 col-md-offset-2 form-padding">
      <%= f.input :name, label: false, placeholder: "NAME" %>
    </div>
    <div class="col-md-4 form-padding">
      <%= f.input :email, label: false, placeholder: "EMAIL" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-2 form-padding">
      <%= f.input :name, label: false, placeholder: "PHONE NUMBER" %>
    </div>
    <div class="col-md-4 form-padding">
      <%= f.input :email, label: false, placeholder: "CITY, STATE" %>
    </div>
  </div>
  <hr>
  <h2 id="form-info-text">What is the date of your party?</h2>
  <div class="row">
    <div class="col-md-4 col-md-offset-4 form-padding">
      <%= f.input :event_date, as: :string, label: false , placeholder: "MM/DD"%>
    </div>
  </div>
  <hr>
  <h2 id="form-info-text">How many estimated guests are attending?</h2>
  <div class="row">
    <div class="col-md-4 col-md-offset-2 form-padding">
      <%= f.input :no_of_guests, as: :string, label: false, placeholder: "10", input_html: { value: '10' }, readonly: true %>
    </div>
    <div class="col-md-4 form-padding">
      <%= f.input :no_of_guests, as: :string, label: false, placeholder: "20", input_html: { value: '20' }, readonly: true %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-2 form-padding">
      <%= f.input :no_of_guests, as: :string, label: false, placeholder: "30", input_html: { value: '30' }, readonly: true %>
    </div>
    <div class="col-md-4 form-padding">
      <%= f.input :no_of_guests, as: :string, label: false, placeholder: "40", input_html: { value: '40' }, readonly: true %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4 form-padding">
      <%= f.input :no_of_guests, as: :string, label: false, placeholder: "50", input_html: { value: '50+' }, readonly: true %>
    </div>
  </div>
  <hr>
  <h2 id="form-info-text">How many drinks would you like on your custom menu?</h2>
  <div class="row">
    <div class="col-md-4 col-md-offset-2 form-padding">
      <%= f.input :no_of_drinks, as: :string, label: false, input_html: { value: '3' }, readonly: true %>
    </div>
    <div class="col-md-4 form-padding">
      <%= f.input :no_of_drinks, as: :string, label: false, input_html: { value: '5' }, readonly: true %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-2 form-padding">
      <%= f.input :no_of_drinks, as: :string, label: false, input_html: { value: '7' }, readonly: true %>
    </div>
    <div class="col-md-4 form-padding">
      <%= f.input :no_of_drinks, as: :string, label: false, input_html: { value: '10+' }, readonly: true %>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-4 col-md-offset-2 form-padding">
      <%= f.input :over_21, as: :boolean, label: false %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-2 form-padding">
      <%= f.input :terms_and_agreement, as: :boolean, label: false %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-md-offset-5 form-padding">
      <%= f.submit 'SUBMIT', :class => 'form-submit' %>
    </div>
  </div>
<% end %>
