<div class="hero">
  <%= image_tag("scroller.svg", :class => "scroller") %>
</div>

<div class="container-fluid">
  <div class="row sketch-text-row">
    <div class="col-md-6">
        <p class="intro-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sed ligula vel enim condimentum laoreet. Nunc ante nunc, maximus vel efficitur ut, volutpat vitae ex. Nullam suscipit ligula in diam pulvinar ultrices. In varius sollicitudin dolor nec congue. Quisque imperdiet id lorem et molestie. Fusce aliquam tempus massa in ullamcorper. Donec orci odio, pulvinar ac pellentesque nec, ultricies eu dolor. Aliquam varius auctor facilisis.</p>
    </div>
      <div class="col-md-6">
        <%= image_tag("barsketch.png", :class => "img-responsive barsketch") %>
      </div>
  </div>

    <aside class="callout">
      <h2 class="cocktail-top-text">Custom catered menus</br>for your event</h2>
    </aside>

    <section class="services-overview">
          <div class="col-lg-10 col-lg-offset-1">
            <div class="row">
              <div class="col-md-4 col-sm-6 left"><p>Donec orci odio, pulvinar ac pellentesque nec, ultricies eu dolor. Aliquam varius auctor facilisis. Mauris elementum dolor ac elit fermentum scelerisque. Maecenas sed molestie enim. Duis eget cursus ex. Duis semper, dui vel tempus facilisis, eros sapien ullamcorper magna, eu mattis ante massa vitae elit.</p></div>
              <div class="col-md-4 col-sm-6 middle"><p>Donec orci odio, pulvinar ac pellentesque nec, ultricies eu dolor. Aliquam varius auctor facilisis. Mauris elementum dolor ac elit fermentum scelerisque. Maecenas sed molestie enim. Duis eget cursus ex. Duis semper, dui vel tempus facilisis, eros sapien ullamcorper magna, eu mattis ante massa vitae elit.</p></div>
              <div class="col-md-4 col-sm-6 right"><p>Donec orci odio, pulvinar ac pellentesque nec, ultricies eu dolor. Aliquam varius auctor facilisis. Mauris elementum dolor ac elit fermentum scelerisque. Maecenas sed molestie enim. Duis eget cursus ex. Duis semper, dui vel tempus facilisis, eros sapien ullamcorper magna, eu mattis ante massa vitae elit.</p></div>
            </div>
          </div>
    </section>

    <section class="work-info">
        <div class="row">
          <div class="col-md-4 col-sm-3 no-padding">
            <h1 class="work-text">Let our work speak for itself</h1>
            <p class="box-text">Donec orci odio, pulvinar ac pellentesque nec, ultricies eu dolor. Aliquam varius auctor facilisis. Mauris elementum dolor ac elit fermentum scelerisque. Maecenas sed molestie enim. Duis eget cursus ex. Duis semper, dui vel tempus facilisis, eros sapien ullamcorper magna, eu mattis ante massa vitae elit. Eu mattis ante massa vitae elit. Donec orci odio, pulvinar ac pellentesque nec, ultricies eu dolor. Aliquam varius auctor facilisis.</p>
          </div>
          <div class="push-right">
            <%= image_tag("cocktail-2.jpg", :class => "img-responsive old-fashioned-image") %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-3 pull-right">
            <h1 class="work-text">Another Title goes here</h1>
            <p class="box-text">Donec orci odio, pulvinar ac pellentesque nec, ultricies eu dolor. Aliquam varius auctor facilisis. Mauris elementum dolor ac elit fermentum scelerisque. Maecenas sed molestie enim. Duis eget cursus ex. Duis semper, dui vel tempus facilisis, eros sapien ullamcorper magna, eu mattis ante massa vitae elit. Duis eget cursus ex. Duis semper, dui vel tempus facilisis, eros sapien ullamcorper magna, eu mattis ante massa vitae elit.</p>
          </div>
          <div class="pull-left">
              <%= image_tag("sample-menu.jpg", :class => "img-responsive menu-image") %>
          </div>
        </div>
    </section>

  <section class="form-call-to-action">
    <div class="strainer-image">
      <div class="form-call-out-text">
        <h2 id="booking-text">Book your event today</br><span class="break-text">Fill out our questionnaire and we will get in touch with you</span></h2>
        <button class="form-button">GET STARTED</button>
      </div>
    </div>
  </section>

  <section class="footer">
    <h2 class="company-text">SWORDFISH COCKTAILS</h2>
    <p class="event-text">EVENTS</br>PRIVATE PARTIES</p>
    <%= image_tag("fa-instagram.png", :class => "instagram") %>
    <p class="email">info@swordfishcocktails.com</p>
  </section>
</div> <!-- container-fluid -->

