<!-- <div class="container-fluid"> -->
    <!-- <div class="row" id="sketch-text-row">
      <div class="col-md-6">
        <p class="intro-paragraph">Swordfish is a private bartending service offering craft cocktails, menu design, and house-made mixers. Drawing from the best of the past, we artfully adapt classic recipes for modern tastes. We are a team of professional bartenders dedicated to providing a higher class of drinks and service for you and your guests.</p>
      </div>
      <div class="col-md-6">
        <%= image_tag("barsketch.png", :class => "img-responsive barsketch") %>
      </div>
    </div>
    <aside class="callout">
      <h2 class="cocktail-top-text">Custom catered menus</br>
      <%= image_tag("seperator-1.png", :class => "img-responsive separator") %>
      for your event</h2>
    </aside>  -->

    <!-- Sketchings -->
    <!-- <div class="container services-overview">
      <div class="row">
        <div class="col-sm-4">
          <div class="thumbnail">
            <%= image_tag("bottle-resized.png", :class => "img-responsive bottle-image") %>
          </div>
          <div class="caption">
            <p>We work with you to develop and understand the vision for your gathering. This is where we nail down a theme, a time period, or an area of special interest. If you love the idea of tossing back a few in a dimly lit bar that happens to be secreted behind the mechanic shop -- we can bring the speakeasy to you.</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail">
            <%= image_tag("stirrer-resized.png", :class => "img-responsive stirrer-image") %>
          </div>
          <div class="caption">
            <p>Once we know what you're going for, we research and develop recipes and compile them into a drink list. After we cut out anything that doesn't shine, we have a complete cocktail menu. We will send you a detailed shopping list of exactly what bottles to buy and where you can get them. The mixers, the ice, the glassware, and the bar -- we've got that covered. All you provide is the alcohol.</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail">
            <%= image_tag("glass-resized.png", :class => "img-responsive glass-image") %>
          </div>
          <div class="caption">
            <p>The day of your gathering, we arrive early and setup the bar, pull out all the glassware, and start breaking down blocks of ice for the night. All you have to do now is show us where to be and where you stashed the liquor. When your guests arrive, just give us the go ahead and we'll start serving. After every last drink has been poured, we'll pack up and leave you to get some rest.</p>
          </div>
        </div>
      </div>
    </div> -->
    <!-- End Sketchings -->

    <!-- Block Images -->
    <!-- <div class="col col-sm-6 col-sm-push-6 no-padding-image">
      <div class="bco blog-list-image bg-image"></div>
    </div>
    <div class="col col-sm-6 col-sm-pull-6 no-padding-image">
      <div class="bco blog-list info">
        <h2 class="blog-list-title">Our Vision</h2>
        <p class="blog-list-desc">As service industry professionals we intend to usher in a new era of high hospitality where quality, craftsmanship and service are unparalleled. Our goal is to change the way cocktail culture is created and sustained, by delivering an unforgettable experience rather than a quick sling of the drink</p>
      </div>
    </div>
    <div class="blog-list-item row no-margin">
      <div class="col col-sm-6 no-padding-image">
        <div class="bco blog-list-image bg-image-right"></div>
      </div>
      <div class="col col-sm-6 no-padding-image">
        <div class="bco blog-list info">
          <h2 class="blog-list-title">Our Philosophy</h2>
          <p class="blog-list-desc">We believe that the cocktail serves as a means to a greater end. Not only do we make fine cocktails, but we want the client to feel familiar with us: a part of the family. Swordfish is not just a roaming bar, it's a way to connect person to person through the art of the drink</p>
        </div>
      </div>
    </div> -->
    <!-- End Block Images -->

    <!-- Form Modal -->
    <!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog form-width" role="document">
        <div class="modal-content">
          <div class="modal-body form-edited">
            <section id="form">
              <h3 id="close">X</h1>
              <h1>Swordfish Questionnaire</h1>
              <h2 id="form-info-text">Let us get a little information from you first</h2>
              <%= render partial: "partials/request_form", locals: {request: new_request_form}  %>
            </section>
          </div>
        </div>
      </div>
    </div> -->
    <!-- End Form Modal -->

    <!-- Form -->
    <!-- <section class="form-call-to-action">
      <div class="strainer-image">
        <div class="form-call-out-text">
          <h2 id="booking-text">Book your event today</br><span class="break-text">Fill out our questionnaire and we will get in touch with you</span></h2>
          <button class="form-button" data-toggle="modal" data-target="#myModal">GET STARTED</button>
        </div>
      </div>
    </section> -->
    <!-- End Form -->

    <!-- Footer -->
    <!-- <section class="footer">
      <h2 class="company-text">SWORDFISH COCKTAILS</h2>
      <p class="event-text">EVENTS</br>PRIVATE PARTIES</p>
      <a href="http://www.instagram.com/swordfishcocktails"><%= image_tag("fa-instagram.png", :class => "instagram") %></a>
      <p class="email">swordfishcocktails@gmail.com</p>
    </section> -->
    <!-- End Footer -->
  <!-- </div> <!-- container-fluid --> -->
