<!DOCTYPE html>
<html>
<head>
  <title>Swordfish Cocktails</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.13.4/jquery.mask.min.js"></script>  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="Swordfish Cocktails" content="Private bartending service located out of Grenville, SC">
</head>
<body>


<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %> alert-style"><%= value %></div>
<% end %>

<%= yield %>

</body>
</html>
